@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&display=swap');
.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
label{
    margin: 0;
    width: 170px;
}
#ongoingText{
    flex-direction: column;
    width: 60%;
}
#ongoingTitle{
    font-family: "Quicksand";
    font-size: 48px;
    width: 600px;
    margin: 50px 100px 20px 50px;
    font-weight: 700;
}
#ongoingImg{
    width: 80%;
    height: auto;
}
.signupWindow{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 30px 40px 20px 10px;
    padding: 2%;
    border: 4px solid black;
    border-radius: 12px;
}
.signupForm{
    display: flex;
}
.camps{
    display: flex;
    align-items: center;
    margin: 10px 20px;
    
}

.userImg{
    width: 24px;
    height: auto;
}

input{
    flex: 1;
    background: #FFFFFF;
    border: 1px solid #000000;
    border-radius: 12px;
    margin: 0px 10px;
}
#preferenceConteiner{
    display: flex;
    margin: 40px 0;
}
.imgPrefC{
    width: 248px;
    height: 122px;
}
.imgPrefD{
    width: 232px;
    height: 122px;
}
.pref{
    height: 20px;
}
#termCheck{
    display: flex;
    align-items: center;
}
#checkboxTerm{
    height: 16px;
    max-width: 16px;
}
#termText{
    font-family: "Nunito";
    font-size: 14px ;
}
#accCreatBtn{
    background-color: #F17F29;
}