@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}


body{
    margin: 0;
    padding: 0;
}

header, .loginButton, .about, #logo{
    display: flex;
    gap: 20%;
}
header{
    background-color: #097969;
    height: 120px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    position: relative;
    z-index: 1;
}

.loginButton, .about{
    font-family: 'Quicksand';
    font-size: 22px;
    font-weight: 800;
    background-color: #F17F29;
    text-align: center;
    justify-content: center;
    padding: 0.2em 0.5em;
    border-radius: 12px;

}
.loginButton{
    min-width: 210px;
    width: auto;
    height: 30px;
}
.title{
    font-family: 'Quicksand';
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 50px;
    
}
.text{
    font-family: 'Quicksand';
    font-size: 22px;
    line-height: 1.4;
}

.hero {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 40px 5%; 
    gap: 40px;
}

#mainText {
    flex: 1; 
    max-width: 600px; 
}

#sidePhotoText {
    flex: 1; 
    max-width: 650px; 
    height: auto;
    position: relative;
    z-index: 10;
    margin-top: -120px;
}
.contentButton, .coolfacts{
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 20px auto;
}
