@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
.quicksand {
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}


body{
    margin: 0;
    padding: 0;
}

header, .loginLink, .about, #logo{
    display: flex;
    gap: 20%;
}
header{
    background-color: #097969;
    height: 120px;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    position: relative;
    z-index: 1;
}

.loginLink, .about{
    font-family: 'Quicksand';
    font-size: 22px;
    font-weight: 800;
    background-color: #F17F29;
    text-align: center;
    justify-content: center;
    padding: 0.2em 0.5em;
    border-radius: 12px;

}
.loginLink{
    min-width: 210px;
    width: auto;
    height: 30px;
}
.title{
    font-family: 'Quicksand';
    font-size: 42px;
    font-weight: 800;
    margin-bottom: 50px;
    
}
.text, .coolfacts, .steps{
    font-family: 'Quicksand';
    font-size: 22px;
    line-height: 1.4;
}
.contentButton{
    font-family: 'Quicksand';
    font-size: 26px;
    font-weight: 700;
    color: black;
    text-decoration: underline;
    text-decoration-color: black;
    text-decoration-thickness: 2px;
}

.hero {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 40px 5%; 
    gap: 40px;
}

#mainText {
    flex: 1; 
    max-width: 600px; 
}

#sidePhotoText {
    flex: 1; 
    max-width: 650px; 
    height: auto;
    position: relative;
    z-index: 10;
    margin-top: -120px;
}
.contentButton, .coolfacts{
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 20px auto;
}
.contentButton{
    background-color: #F17F29;
    border-radius: 8px;
    border: 2px solid;
    text-align: center;
}
.petPrints{
    max-width: 30px;
    height: auto;
    align-items: center;
}

.coolfacts{
    gap: 50px;
}
.steps{
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 20px auto;
    gap: 80px;
    padding-top: 80px;
}
.conteinerContent{
    text-align: center;
    background-color: #F17F29;
    border-radius: 12px;
    border: 2px solid;
    width: 103%;
}
.signupWindow{
    background-color: #0EB199;
}
.modalContent{
    background-color: #097969;
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.modal-overlay {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px); 
    z-index: 1000;
    justify-content: center;
    align-items: center;
}


.modal-content {
    background-color: #097969;
    padding: 40px;
    border-radius: 20px;
    width: 100%;
    max-width: 400px;
    text-align: center;
    color: black;
    position: relative;
    border: 2px solid black;

}
#closeModal{
    position: absolute;
    color: black;
    right: 15px;
    top: 15px;
    cursor: pointer;
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 26px;
}
#loginTitle{
    color: black;
    font-family: 'Quicksand';
    font-size: 32;
    font-weight: 700;
}


.modal-content,  form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinha os textos (labels) na esquerda */
    gap: 10px; /* Espaço entre cada campo */
    width: 100%;
}

.modal-content , label {
    font-family: 'Quicksand';
    font-weight: 700;
    margin-top: 10px;
}



.modal-content input {
    width: 100%; /* Ocupa toda a largura do modal */
    padding: 10px;
    border-radius: 8px;
    border: 1px solid black;
    box-sizing: border-box; /* Garante que o input não "escape" do modal */
}
.loginButton {
    background-color: #F17F29;
    padding: 10px 40px;
    border-radius: 12px;
    border: 1px solid black;
    cursor: pointer;
    margin: 20px auto 5px auto; /* Centraliza o botão */
    width: fit-content;
    height: auto; /* Deixa o padding definir a altura */
    font-family: "Quicksand";
    font-weight: 700;
}

.forgotPassword{
    background-color: #F17F29;
    border: 1px solid black;
    cursor: pointer;
    width: fit-content;
    height: auto;
    margin: 20px auto 5px auto;
    border-radius: 12px;
    padding: 10px 40px;
    text-decoration: none;
    color: black;
}